html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

/* 장면 전체 */
.scene {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* 배경 이미지 */
.bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  style="display: block; vertical-align: bottom; margin: 0; padding: 0;
}

/* 버튼 */
.hotspot {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  style="display: block; vertical-align: bottom; margin: 0; padding: 0;"
}

/* hover 효과 */
.hotspot img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.hotspot:hover img {
  style="display: block; vertical-align: bottom; margin: 0; padding: 0;"
  transform: scale(1.08);
}

a {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  display: inline-block; /* 이미지가 아닌 텍스트 링크일 경우 필요 없을 수 있음 */
}
