html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

/* 장면 전체 */
.scene {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* 배경 이미지 */
.bg {
  width: 100%;
  height: 100%;
  object-fit: cover; /* cover 유지 */
  display: block;
}

/* 버튼 */
.hotspot {
  position: absolute;
  transform: translate(-50%, -50%);

}


.hotspot:hover img {
  transform: scale(1.08);
}


.hotspot img {
  width: 100%;
  height: auto;
 transition: transform 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
}
